
.root {
    -fx-background-image: url("../account/img/account_background.png");
    /*-fx-background-color: yellow;*/
}

.panel {
    -fx-background-color: white;
}

.it-img {
    /*-fx-arc-height: 30px;*/
    /*-fx-arc-width: 30px;*/
    /*width: 253px;*/
    /*height: 539px;*/
    /*left: 530px;*/
    /*top: 237px;*/

    -fx-image: url("../account/img/it_building.png");
    -fx-border-radius: 10;
    -fx-border-color: black;
    -fx-border-width: 2;
}

.rectangle {
    -fx-arc-width: 30px;
    -fx-arc-height: 30px;
    -fx-fill: white;
    /*-fx-effect: gaussianBlur(10);*/
    -fx-background-color: transparent;

}

#titlelable {

}