.root {
    -fx-background-image: url("../account/img/account_background.png");
    /*-fx-background-color: yellow;*/
}

.panel {
    -fx-background-color: white;
}

.rectangle{
    -fx-arc-width: 30px;
    -fx-arc-height: 30px;
    -fx-fill: white;
    /*-fx-effect: gaussianBlur(10);*/
    -fx-background-color: transparent;

}

#titlelable{

}