.root {
    -fx-background-image: url("../account/img/account_background.png");
    /*-fx-background-color: yellow;*/
}

.pane {
    -fx-background-color: white;
    -fx-border-radius: 25px;
}

#titlelable{

}